<component name="ArtifactManager">
  <artifact build-on-make="true" name="app">
    <output-path>$PROJECT_DIR$/todo/js/app</output-path>
    <properties id="ant-postprocessing">
      <options enabled="true">
        <file>file://$PROJECT_DIR$/build.xml</file>
        <target>hack-source-maps</target>
      </options>
    </properties>
    <root id="root">
      <element id="module-output" name="reakt" />
    </root>
  </artifact>
</component>